<nav class="inspector-nav mat-elevation-z1">
    <button class="no-style back-button" matTooltip="Dashboard">
        <svg-icon name="keyboard-arrow-left"></svg-icon>
    </button>

    <div class="panel-nav">
        <button mat-button class="panel-nav-item" [class.active]="inspector.activePanelIs('layout')" (click)="inspector.togglePanel('layout')">
            <svg-icon name="web-design-custom"></svg-icon>
            <span class="name" trans>Layout</span>
        </button>
        <button mat-button class="panel-nav-item" [class.active]="inspector.activePanelIs('elements')" (click)="inspector.togglePanel('elements')">
            <svg-icon name="puzzle-custom"></svg-icon>
            <span class="name" trans>Elements</span>
        </button>
        <button mat-button class="panel-nav-item" [class.active]="inspector.activePanelIs('inspector')" (click)="inspector.togglePanel('inspector')">
            <svg-icon name="brush-custom"></svg-icon>
            <span class="name" trans>Inspector</span>
        </button>
        <button mat-button class="panel-nav-item" [class.active]="inspector.activePanelIs('pages')" (click)="inspector.togglePanel('pages')">
            <svg-icon name="documents-custom"></svg-icon>
            <span class="name" trans>Pages</span>
        </button>
        <button mat-button class="panel-nav-item" [class.active]="inspector.activePanelIs('themes')" (click)="inspector.togglePanel('themes')">
            <svg-icon name="paint-palette-custom"></svg-icon>
            <span class="name" trans>Themes</span>
        </button>
        <button mat-button class="panel-nav-item" [class.active]="inspector.activePanelIs('settings')" (click)="inspector.togglePanel('settings')">
            <svg-icon name="settings-custom"></svg-icon>
            <span class="name" trans>Settings</span>
        </button>
        <button mat-button class="panel-nav-item" (click)="toggleCodeEditor()">
            <svg-icon name="source-code-custom"></svg-icon>
            <span class="name" trans>Code Edtr</span>
        </button>
    </div>

    <div class="panel-nav undo-nav">
        <button class="panel-nav-item" mat-button [disabled]="!undoManager.canUndo()" (click)="undoManager.undo()">
            <svg-icon name="undo"></svg-icon>
            <span class="name" trans>Undo</span>
        </button>
        <button class="panel-nav-item" mat-button [disabled]="!undoManager.canRedo()" (click)="undoManager.redo()">
            <svg-icon name="redo"></svg-icon>
            <span class="name" trans>Redo</span>
        </button>
    </div>
</nav>

<div class="inspector-content" customScrollbar>
    <elements-panel [class.hidden]="!inspector.activePanelIs('elements')"></elements-panel>
    <inspector-panel [class.hidden]="!inspector.activePanelIs('inspector')"></inspector-panel>
    <layout-panel [class.hidden]="!inspector.activePanelIs('layout')"></layout-panel>
    <pages-panel [class.hidden]="!inspector.activePanelIs('pages')"></pages-panel>
</div>