@import "../../../scss/variables";

inspector {
  display: flex;
  position: relative;
  z-index: 3;
  box-shadow: 1px 0 2px rgba(0,0,0,.5);

  .mat-expansion-panel {
    margin-bottom: 10px;
    //background-color: $inspector-bg-color-300;
    border: 1px solid $inspector-bg-color-400;

    &.mat-expanded {
      background-color: $inspector-bg-color-100;

      > .mat-expansion-panel-header {
        background-color: $inspector-bg-color-200;
      }
    }

    &:not(.mat-expanded) > .mat-expansion-panel-header:not([aria-disabled=true]):hover {
      background-color: $inspector-bg-color-200;
    }

    > .mat-expansion-panel-header {
      border-radius: 3px;
      //background-color: $inspector-bg-color-200;
      overflow: hidden;

      .mat-expansion-panel-header-title {
        color: inherit;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 1.4rem;
      }

      .mat-expansion-indicator {
        padding-bottom: 5px;

        &:after {
          color: inherit;
        }
      }
    }

    .mat-expansion-panel-body {
      margin: 8px;
      padding: 0;
      overflow: hidden;
    }
  }

  .input-container {
    input, select, textarea {
      display: block;
      width: 100%;
      margin: 0 0 5px;
      border-color: $inspector-bg-color-400;
      background-color: $inspector-bg-color-100;
      color: inherit;
    }
  }

  > .inspector-nav {
    position: relative;
    z-index: 2;
    width: 70px;
    flex: 0 0 70px;
    height: 100%;
    background-color: $inspector-bg-color-100;
    color: $inspector-text-color-200;
    text-align: center;
    padding: 20px 0;

    > .panel-nav {
      margin-top: 50px;

      > .panel-nav-item {
        cursor: pointer;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 12px 0;
        min-width: 0;
        line-height: initial;

        &[disabled] {
          color: $inspector-text-color-100;
          cursor: initial;
        }

        &.active {
          background-color: $inspector-bg-color-300;
        }

        &:hover:not([disabled]):not(.active) {
          background-color: $inspector-bg-color-200;
        }

        .mat-button-focus-overlay {
          background-color: transparent;
        }

        svg-icon {
          display: inline-block;
          width: 30px;
          height: 30px;
        }

        .name {
          display: block;
          font-size: 1.1rem;
          font-weight: 700;
          letter-spacing: 0.5px;
          margin-top: 5px;
        }
      }
    }

    > .undo-nav {
      position: absolute;
      bottom: 15px;
      width: 100%;

      @media screen and (max-height: 800px) {
        display: none;
      }

      > .panel-nav-item {
        padding: 5px 0;

        > .name {
          font-size: 1rem;
        }
      }
    }

    > .back-button > svg-icon {
      color: inherit;
      width: 50px;
      height: 50px;
    }
  }

  > .inspector-content {
    flex: 1 1 auto;
    height: 100%;
    color: $inspector-text-color-200;

    > .panel-container {
      position: relative;
      height: calc(100% - 50px);
      padding: 15px;
      background-color: $inspector-bg-color-300;
    }

    > .actions {
      border-top: 1px solid $inspector-bg-color-400;
      background: $inspector-bg-color-100;
      height: 50px;

      > .mat-button {
        line-height: 50px;
        border-right: 1px solid $inspector-bg-color-400;
        min-width: 20%;

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
}