@import "../../../scss/variables";
@import '~@angular/material/theming';

.input-container {
  input, select, textarea {
    display: block;
    width: 100%;
    margin: 0 0 5px;
    border-color: $site-bg-color-400;
    background-color: $site-bg-color-100;
    color: inherit;
  }
}