@import "../../../../scss/variables";

inline-text-editor {
  display: block;
  background-color: $inspector-bg-color-100;
  box-shadow: $box-shadow-4;
  padding: 10px;
  position: relative;
  z-index: 5;
}
