@import "../../../../../scss/variables";

drag-visual-helper {
  display: block;
  position: absolute;
  pointer-events: none;
  background-color: $inspector-bg-color-100;
  color: $inspector-text-color-100;
  width: 90px;
  height: 35px;
  text-align: center;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 8px 0;
}