@import "../../../../scss/variables";

upgrade-page {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $site-bg-color-200;
  overflow: auto;

  .main-content {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: inherit;
  }

  .mat-horizontal-stepper-content {
    padding: 5px;
  }
  
  .step-container {
    display: flex;
    position: relative;
    background-color: $site-bg-color-100;
    border-radius: 3px;
    @include mat-elevation(1);

    > .left-col {
      flex: 1 1 auto;
    }

    .mat-tab-body-content {
      padding: 35px;
    }

    .mat-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

