<material-navbar></material-navbar>

<mat-horizontal-stepper class="main-content container" [linear]="true">
    <mat-step label="Subscription plan" [completed]="false">
        <div class="plans" [class.has-recommended]="hasRecommendedPlan">
            <ng-container *ngFor="let plan of plans">
                <div class="plan" *ngIf="!plan.parent_id" [class.recommended]="plan.recommended">
                    <div class="name">{{plan.name}}</div>
                    <div class="price-box">
                        <div class="amount">
                            <div class="currency">{{getCurrencySymbol(plan.currency)}}</div>
                            <div class="number">{{formatPlanAmount(plan.amount)}}</div>
                        </div>
                        <div class="interval">{{plan.interval}}</div>
                    </div>
                    <plan-features-list [plan]="plan"></plan-features-list>
                    <button class="select-plan-button" (click)="selectPlan(plan)" mat-raised-button color="accent" trans>Select</button>
                </div>
            </ng-container>
        </div>
    </mat-step>
    <mat-step label="Subscription interval">
        <div class="subscription-period-step step-container" *ngIf="selectedPlan">
            <div class="left-col">
                <div class="title" trans>Select your plan subscription interval</div>
                <mat-radio-group class="periods" [(ngModel)]="selectedPlanId">
                    <div class="radio-button-wrapper" *ngFor="let plan of getChildPlans(selectedPlan)">
                        <div class="savings-label" trans>Save {{getPlanSavings(selectedPlan.parent || selectedPlan, plan)}}%</div>
                        <mat-radio-button [value]="plan.id" class="period" (change)="selectChildPlan(plan.id)">
                            <div class="name">{{plan.name}} <span trans>subscription:</span></div>
                            <div class="price">{{getCurrencySymbol(plan.currency)+formatPlanAmount(plan.amount)+'.00'}} x {{plan.interval_count}} {{plan.interval}}s</div>
                        </mat-radio-button>
                    </div>
                    <div class="radio-button-wrapper no-label">
                        <mat-radio-button [value]="selectedPlan.id" class="period">
                            <div class="name" trans>1 month subscription:</div>
                            <div class="price">{{getCurrencySymbol(selectedPlan.currency)+formatPlanAmount(selectedPlan.amount)+'.00'}} month to month</div>
                        </mat-radio-button>
                    </div>
                </mat-radio-group>

                <div class="actions">
                    <button mat-button matStepperPrevious trans>Back</button>
                    <button mat-raised-button color="accent" matStepperNext trans>Select</button>
                </div>
            </div>

            <upgrade-page-aside [plan]="selectedPlan" class="right-col"></upgrade-page-aside>
        </div>
    </mat-step>
    <mat-step label="Payment" [completed]="false">
        <div class="step-container" *ngIf="selectedPlan">
            <div class="left-col">
                <mat-tab-group [dynamicHeight]="true" color="accent">
                    <mat-tab label="Bank Card">
                        <credit-card-form></credit-card-form>

                        <order-summary [plan]="selectedPlan" [childPlan]="selectedPlanChild"></order-summary>

                        <button type="submit" mat-raised-button color="accent" [disabled]="loading" trans>Submit Purchase</button>
                    </mat-tab>
                    <mat-tab label="Paypal">
                        <div class="paypal-tab">
                            <p class="info" trans>
                                After clicking the button below, you will be redirected to paypal.com to approve the subscription.
                            </p>
                            <order-summary [plan]="selectedPlan"></order-summary>
                            <button mat-raised-button color="accent" (click)="submitWithPaypal()" [disabled]="loading">Pay with paypal</button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <upgrade-page-aside [plan]="selectedPlan" class="right-col"></upgrade-page-aside>

            <mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </div>

        <p>You authorise {{settings.get('branding.site_name')}} to charge you automatically every month, until you cancel your subscription. You consent to get access to your {{settings.get('branding.site_name')}} subscription immediately, and acknowledge that refunds are only available within 14 days and provided you haven't accessed Spotify. Full terms and instructions on how to cancel are available here.</p>
    </mat-step>
</mat-horizontal-stepper>

