@import "../../../../scss/variables";

upgrade-page {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $site-bg-color-200;
  overflow: auto;

  .main-content {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: inherit;
  }

  .mat-horizontal-stepper-content {
    padding: 5px;
  }

  .plans {
    display: flex;
    width: 100%;
    justify-content: center;

    &.has-recommended {
      > .plan {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    > .plan {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      align-items: center;
      max-width: 300px;
      margin-right: 15px;
      @include mat-elevation(1);
      background-color: $site-bg-color-100;

      &.recommended {
        margin-top: 0;
        margin-bottom: 0;

        .name {
          font-size: 2rem;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      > .name {
        font-size: 1.8rem;
        font-weight: 500;
        padding: 15px 0;
        color: $site-text-color-300;
        text-transform: capitalize;
      }

      > .price-box {
        width: 100%;
        padding: 25px 0;
        background-color: $site-accent-color;
        color: $site-text-color-100;
        text-align: center;

        > .amount {
          display: inline-block;
          position: relative;

          > .number {
            font-size: 4.5rem;
          }

          > .currency {
            position: absolute;
            top: 10px;
            left: -15px;
            font-size: 2rem;
          }
        }
      }

      > .select-plan-button {
        width: fit-content;
        margin: 20px 0;
      }
    }
  }
  
  .payment-step {
    display: flex;
    position: relative;
    background-color: $site-bg-color-100;
    border-radius: 3px;
    @include mat-elevation(1);

    > .left-col {
      flex: 1 1 auto;
    }

    .mat-tab-body-content {
      padding: 35px;
    }

    .mat-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .left-col {
      .paypal-tab {
        > p {
          background-color: $site-bg-color-200;
          border-radius: 4px;
          padding: 15px;
        }
      }
    }

    .right-col {
      padding: 0 20px;
      border-left: 1px solid $site-border-color-200;
      min-width: 320px;

      .header {
        font-weight: 500;
        font-size: 1.5rem;
        padding: 20px 20px 0;
      }

      plan-features-list {
        text-align: left;
      }

      .mat-divider {
        margin: 20px 0 30px;
      }

      .secure-shopping {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid $site-border-color-200;
        border-radius: 3px;

        .icon-container {
          margin-right: 15px;
          background-color: lighten($site-accent-color, 5%);
          border-radius: 3px;
          padding: 10px 10px 5px;

          svg-icon {
            color: $site-text-color-100;
          }
        }

        .text {
          font-size: 1.6rem;
          font-weight: 300;
        }
      }
    }
  }

  .card-form {
    > .many-inputs {
      max-width: 500px;
    }

    .card-icons {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;

      > img {
        margin-right: 5px;
        width: 50px;
        height: auto;
      }
    }

    input:not([type=file]), select {
      max-width: 400px;
      border-radius: 4px;
      height: 46px;
    }

    .expiration-date {
      display: flex;
      border: none;
      padding: 0;
      margin: 0;

      > select {
        display: block;
        flex: 1 1 auto;
        width: initial;
      }

      > .expiration-month {
        margin-right: 10px;
      }
    }
  }
}

