:root {
    --site-colors-accent: #34AD00;
    --site-colors-bg-500: #1e1e26;
    --site-colors-bg-400: #2a2a35;
    --site-colors-bg-300: #353543;
    --site-colors-bg-200: #414151;
    --site-colors-bg-100: #7b7b96;
    --site-colors-text-300: #898B8C;
    --site-colors-text-200: #C2C2CA;
    --site-colors-text-100: #fff;
    --site-colors-border-200: rgba(255,255,255,0.05);
    --site-colors-border-100: rgba(255,255,255,0.1);
}
