@import "../../../../../scss/variables";

.select-plan-modal-container {
  background-color: $site-bg-color-200;

  .mat-dialog-container {
    background-color: inherit;
  }

  .mat-stepper-horizontal {
    background-color: inherit;
    margin: 0 50px;
  }
}