<div class="step-container" *ngIf="selectedPlan">
    <div class="left-col">
        <create-subscription-tabs>
            <order-summary [plan]="selectedPlan" [childPlan]="selectedPlanChild"></order-summary>
        </create-subscription-tabs>
    </div>

    <upgrade-page-aside [plan]="selectedPlan" class="right-col"></upgrade-page-aside>

    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>

<p>You authorise {{settings.get('branding.site_name')}} to charge you automatically every month, until you cancel your subscription. You consent to get access to your {{settings.get('branding.site_name')}} subscription immediately, and acknowledge that refunds are only available within 14 days and provided you haven't accessed Spotify. Full terms and instructions on how to cancel are available here.</p>
