@import "../../../scss/variables";

$context-box-spacing: 10px;

live-preview {
  display: block;
  position: relative;
  overflow: hidden;

  > iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  > .highlights {
    position: absolute;
  }
  
  > .drag-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}