<ng-container previewDragAndDrop>
    <div class="highlights">
        <context-box class="hidden" type="hover" #hoverBox></context-box>
        <context-box class="hidden" type="selected" #selectedBox></context-box>
    </div>
    <iframe #iframe></iframe>
    <div class="drag-overlay" #dragOverlay></div>
    <drag-visual-helper class="drag-helper" #dragHelper></drag-visual-helper>

    <loading-indicator class="overlay overlay-light" [isVisible]="loader.isVisible()"></loading-indicator>
</ng-container>