<div class="highlights">
    <div class="hover-box context-box" #hoverBox>
        <div class="context-box-actions">
            <div class="drag-handle" #dragHandle>
                <svg-icon name="drag-handle"></svg-icon>
            </div>
            <span class="column-name">{{this.getElementDisplayName('hover')}}</span>
        </div>
    </div>

    <div class="selected-box context-box" #selectedBox>
        <div class="context-box-actions">
            <div class="drag-handle" #dragHandle>
                <svg-icon name="drag-handle"></svg-icon>
            </div>
            <span class="column-name">{{this.getElementDisplayName('selected')}}</span>
        </div>
    </div>
</div>
<iframe src="about:blank" #iframe previewDragAndDrop [dragHandle]="dragHandle" [dragOverlay]="dragOverlay"></iframe>
<div class="drag-overlay" #dragOverlay></div>