@import "../../../scss/variables";

live-preview {
  display: block;
  position: relative;
  overflow: hidden;

  > iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  > .highlights {
    position: absolute;

    > .context-box {
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $hover-box-bg-color;
      color: $hover-box-actions-color;
      pointer-events: none;

      .context-box-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -24px; //overlay actions on top of hover box slightly
        left: -1px;
        height: 25px;
        padding: 5px;
        overflow: hidden;
        user-select: none;
        white-space: nowrap;
        pointer-events: all;
        background-color: $hover-box-bg-color;

        > .drag-handle {
          cursor: move;

          > svg-icon {
            display: block;
          }
        }

        > .column-name {
          text-transform: uppercase;
          font-size: 1.4rem;
        }
      }
    }
  }
  
  > .drag-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}