@import "../../scss/variables";

dashboard {
  display: block;
  height: 100%;
  background-color: $site-bg-color-200;

  > .header {
    background-color: $site-primary-color-200;
    color: $site-text-color-100;
  }

  .header-body {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;

    > .inputs {
      display: flex;
      align-items: center;

      > .input-container {
        margin-right: 20px;

        > input, > select {
          background-color: $site-bg-color-100;
          color: $site-text-color-400;
          border-radius: 2px;
        }
      }
    }

    > .actions {
      margin-left: auto;

      > .upgrade-button {
        margin-right: 20px;
      }
    }

    @media only screen and (max-width: $tablet) {
      padding: 25px 0;

      > .inputs {
        display: none;
      }

      > .new-project-button {
        width: 100%;
        line-height: 45px;
        margin: 0 20px;
      }
    }
  }

  .scroll-container {
    height: calc(100% - 233px);
  }

  .ad-host-top {
    margin-top: 35px;
  }

  .ad-host-bottom {
    margin-bottom: 35px;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-top: 35px;
    padding-bottom: 35px;

    @media only screen and (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: $laptop) {
      grid-template-columns: repeat(4, 1fr);
    }

    > .project {
      height: 255px;
      box-shadow: $box-shadow-1;
      cursor: pointer;
      overflow: hidden;
      background-color: $site-bg-color-100;
      transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);

      &:hover {
        box-shadow: $box-shadow-3;
      }

      > .header {
        padding: 10px;

        > a:hover {
          text-decoration: underline;
        }
      }

      > img {
        display: block;
        width: 100%;
        height: 165px;
        object-fit: cover;
      }

      > .footer {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid $site-border-color-100;

        .name {
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: 2px;
        }

        .updated {
          font-size: 1rem;
          color: $site-text-color-300;
        }

        .actions {
          margin-left: auto;
        }
      }
    }
  }
}