@import "../../scss/variables";

dashboard {
  display: block;
  height: 100%;
  background-color: $inspector-bg-color-200;

  > .header {
    background-color: #2166d1;
    //background-image: url("https://bedesk.vebto.com/assets/images/pattern.svg");
    //background-position: top;
    color: #fff;
  }

  .header-body {
    padding: 50px 0;
    display: flex;
    align-items: center;

    > .inputs {
      display: flex;
      align-items: center;

      > .input-container {
        margin-right: 20px;

        > input, > select {
          background-color: #fff;
          color: $text-color;
          border-radius: 2px;
        }
      }
    }

    > .new-project-button {
      margin-left: auto;
    }
  }

  .scroll-container {
    height: calc(100% - 233px);
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 35px;

    > .project {
      height: 255px;
      box-shadow: $box-shadow-1;
      cursor: pointer;
      overflow: hidden;
      background-color: $inspector-bg-color-100;
      transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);

      &:hover {
        box-shadow: $box-shadow-3;
      }

      > .header {
        padding: 10px;

        > a:hover {
          text-decoration: underline;
        }
      }

      > img {
        display: block;
        width: 100%;
        height: 165px;
        object-fit: cover;
      }

      > .footer {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid $border-color-light;

        .name {
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: 2px;
        }

        .updated {
          font-size: 1rem;
          color: $text-color-secondary;
        }

        .actions {
          margin-left: auto;
        }
      }
    }
  }
}