<div class="header">
    <material-navbar menuPosition="dashboard"></material-navbar>

    <div class="header-body container">
        <div class="inputs">
            <div class="input-container">
                <label for="search-query" trans>Search</label>
                <input type="search" name="search-query" id="search-query" [(ngModel)]="models.query">
            </div>

            <div class="input-container">
                <label for="project-status" trans>Status</label>
                <select name="project-status" id="project-status" [(ngModel)]="models.status">
                    <option value="all" trans>All</option>
                    <option value="published" trans>Published</option>
                    <option value="unpublished" trans>Unpublished</option>
                </select>
            </div>

            <div class="input-container">
                <label for="project-order" trans>Sort</label>
                <select name="project-order" id="project-order" [(ngModel)]="models.order">
                    <option value="newest" trans>Newest</option>
                    <option value="oldest" trans>Oldest</option>
                    <option value="a-z" trans>A-Z</option>
                    <option value="z-a" trans>Z-A</option>
                </select>
            </div>
        </div>

        <a class="new-project-button" mat-raised-button color="accent" routerLink="/dashboard/projects/new" trans>New Project</a>
    </div>
</div>

<div class="scroll-container">
    <div class="projects container">
        <div class="project" *ngFor="let project of projects" >
            <div class="header">
                <a [href]="getProjectUrl(project)" target="_blank" trans>View Site</a>
            </div>
            <img [src]="getProjectImage(project)" (click)="openBuilder(project)">
            <div class="footer">
                <div class="title">
                    <div class="name">{{project.name}}</div>
                    <div class="updated">20 minutes ago</div>
                </div>
                <div class="actions">
                    <button mat-icon-button color="accent" (click)="openBuilder(project)" matTooltip="Open in builder"><svg-icon name="brush"></svg-icon></button>
                    <button mat-icon-button color="accent"><svg-icon name="publish" matTooltip="Publish"></svg-icon></button>
                    <button mat-icon-button color="accent" (click)="deleteProjectWithConfirmation(project);"><svg-icon name="delete" matTooltip="Delete"></svg-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>