@import "../../../../scss/variables";

inspector-panel {
  display: block;
  overflow: auto;

  > .breadcrumbs {
    background-color: $inspector-bg-color-200;
    border: 1px solid $inspector-bg-color-400;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;

    > .crumb-container {
      &:hover .crumb {
        text-decoration: underline;
      }

      .last {
        color: $inspector-text-color-100;
      }
    }

    svg-icon {
      vertical-align: sub;
      width: 15px;
      height: 15px;
    }
  }

  .mat-expansion-panel .mat-expansion-panel-body {
    margin: 10px 0;
  }
}