<div class="header">
    <div class="title" trans>Site Builder</div>
    <div class="subtitle" trans>Configure the site builder and user dashboard settings.</div>
</div>

<form class="body many-inputs" (submit)="saveSettings()" ngNativeValidate>
    <div class="input-container">
        <label for="builder.routing_type" trans>User Site Url Type</label>
        <select name="builder.routing_type" id="builder.routing_type" [(ngModel)]="state.client['builder.routing_type']">
            <option value="none">None</option>
            <option value="subdomain">Subdomain</option>
            <option value="regular">Regular</option>
        </select>
        <p>
            <span trans>Via what url user created sites should be accessible. </span>
            <span *ngIf="state.client['builder.routing_type'] === 'none'" trans>None: User sites will not be accessible at all.</span>
            <span *ngIf="state.client['builder.routing_type'] === 'subdomain'" trans>Subdomain: https://project-name.your-site.com</span>
            <span *ngIf="state.client['builder.routing_type'] === 'regular'" trans>Regular: https://your-site.com/sites/project-name</span>
        </p>
    </div>

    <button mat-raised-button color="accent" class="button primary update-button" type="submit" trans>Update</button>
</form>

<loading-indicator [isVisible]="loading" class="overlay"></loading-indicator>