@import "../../../../scss/variables";

layout-panel {
  display: block;

  .container-config {
    padding: 5px;
  }

  .add-item-button {
    display: block;
    position: relative;
    height: 11px;
    width: 100%;
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: $inspector-bg-color-300;

    &.hide-text > span {
      display: none;
    }

    &:hover > span {
      display: inline-block;
      color: $text-color;
    }

    > span {
      position: relative;
      z-index: 1;
      color: $text-color-secondary;
      background-color: inherit;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      border: 1px dashed $inspector-bg-color-400;
      z-index: 0;
    }
  }

  .rows {
    .row {
      padding: 10px;
      background-color: $inspector-bg-color-200;
      border: 1px solid $inspector-bg-color-400;
      margin-bottom: 5px;
      cursor: pointer;

      &.selected {
        border-color: $accent-color;
      }
    }

    .add-item-button {
      background-color: #fff;
    }
  }

  .current-columns {
    display: flex;
    margin-top: 10px;

    > .column {
      background-color: $inspector-bg-color-200;
      border: 1px solid $inspector-bg-color-400;
      margin: 0 0 0 -1px;
      padding: 10px 0;
      text-align: center;
      cursor: ew-resize;
      position: relative;

      &.dragging {
        background: repeating-linear-gradient(-45deg,transparent,transparent 2px,rgba(0, 0, 0, 0.1) 2px,rgba(0, 0, 0, 0.1) 4px);
      }

      &.selected {
        border-color: $accent-color;
        z-index: 1;
      }

      &:hover:not(.dragging) {
        background-color: $inspector-bg-color-100;
      }
    }
  }
}