<mat-list role="list" *ngIf="plan" [class.dense]="dense">
    <ng-container *ngIf="plan.show_permissions">
        <mat-list-item role="listitem" *ngFor="let permission of plan.permissions | mapToIterable">
            <svg-icon class="check-icon" name="check" *ngIf="showCheckIcons" matListIcon></svg-icon>
            <div class="mat-list-text">{{permission.key}}</div>
        </mat-list-item>
    </ng-container>
    <ng-container *ngIf="plan.features.length">
        <mat-list-item role="listitem" *ngFor="let feature of plan.features">
            <svg-icon class="check-icon" name="check" *ngIf="showCheckIcons" matListIcon></svg-icon>
            <div class="mat-list-text">{{feature}}</div>
        </mat-list-item>
    </ng-container>
</mat-list>