<material-navbar [menuPosition]="vebtoConfig.get().navbar.defaultPosition"></material-navbar>

<div class="content container mat-elevation-z1">
    <div class="main">
        <div class="main-section">
            <div class="main-section-title" trans>{{getPlanName()}}</div>
            <div class="main-section-content">
                <ng-container *ngIf="canCancel()">
                    <p>Your plan will automatically renew on <strong>{{getFormattedRenewDate()}}</strong> and you'll be charged <strong>{{getPlanPrice()}}</strong></p>
                </ng-container>

                <ng-container *ngIf="canResume()">
                    <p trans>You are on a grace period until <strong>{{getFormattedEndDate()}}</strong>. Your subscription will not automatically resume and you will not be charged.</p>
                    <p trans>You still have access to your plan's features until this date and you can resume your subscription below.</p>
                    <button mat-raised-button color="accent" (click)="resumeSubscription()" trans>Resume</button>
                </ng-container>
            </div>
        </div>

        <div class="main-section" *ngIf="canCancel()">
            <div class="main-section-title" trans>Payment Method</div>
            <div class="main-title-description">Select your preferred payment method below. You can use a credit card or PayPal.</div>

            <p>Current payment Method: <strong>{{getActiveGateway() === 'paypal' ? 'PayPal' : 'Credit Card'}}</strong></p>

            <div class="card-preview" *ngIf="getActiveGateway() === 'stripe'">
                <div class="icon"><svg-icon name="credit-card"></svg-icon></div>
                <div class="info">{{currentUser.get('card_brand')}} **** {{currentUser.get('card_last_four')}}</div>
                <div class="action"><button mat-button (click)="toggleCardForm()" trans>Update</button></div>
            </div>

            <credit-card-form (created)="onCardChanged($event)" (closed)="toggleCardForm()" *ngIf="cardFormVisible"></credit-card-form>

            <create-subscription-tabs submitText="Change Payment Method"></create-subscription-tabs>
        </div>

        <div class="main-section" *ngIf="canCancel()">
            <div class="main-section-title" trans>Cancel Subscription</div>

            <div class="main-section-content">
                <p trans>After cancelling subscription, you will have access to your active plan until your billing period end.</p>
            </div>

            <div class="main-section-actions">
                <button mat-raised-button color="warn" (click)="maybeCancelSubscription()" trans>Cancel</button>
            </div>
        </div>
    </div>

    <upgrade-page-aside [plan]="getPlan()"></upgrade-page-aside>

    <loading-indicator class="overlay" [isVisible]="loading"></loading-indicator>
</div>

