<div class="preset">
    <span class="col col-12"></span>
</div>
<div class="preset">
    <div class="col col-6"></div>
    <div class="col col-6"></div>
</div>
<div class="preset">
    <div class="col col-4"></div>
    <div class="col col-8"></div>
</div>
<div class="preset">
    <div class="col col-8"></div>
    <div class="col col-4"></div>
</div>
<div class="preset">
    <div class="col col-4"></div>
    <div class="col col-4"></div>
    <div class="col col-4"></div>
</div>
<div class="preset">
    <div class="col col-3"></div>
    <div class="col col-3"></div>
    <div class="col col-3"></div>
    <div class="col col-3"></div>
</div>
<div class="preset">
    <div class="col col-2"></div>
    <div class="col col-2"></div>
    <div class="col col-2"></div>
    <div class="col col-2"></div>
    <div class="col col-2"></div>
</div>
<div class="preset custom-preset">
    <div class="col col-12" trans>Custom</div>
</div>