<div class="side-controls">
    <button class="no-style side-control all-control" (click)="toggleSide('all')" [class.active]="isSideEnabled('all')"></button>

    <button class="no-style side-control top-control" (click)="toggleSide('top')" [class.active]="isSideEnabled('top')"></button>
    <button class="no-style side-control right-control" (click)="toggleSide('right')" [class.active]="isSideEnabled('right')"></button>
    <button class="no-style side-control bottom-control" (click)="toggleSide('bottom')" [class.active]="isSideEnabled('bottom')"></button>
    <button class="no-style side-control left-control" (click)="toggleSide('left')" [class.active]="isSideEnabled('left')"></button>
</div>

<mat-slider min="1" [max]="max" step="1" (input)="applySpacingForEnabledSides($event.value)" [value]="sliderValue"></mat-slider>

<ng-content></ng-content>

<div class="side-inputs">
    <div class="input-container all-input">
        <input type="number" min="1" max="999" [(ngModel)]="spacing.all" (ngModelChange)="applySpacingToAllSides()">
    </div>

    <div class="side-inputs-inner" [ngClass]="type">
        <div class="input-container top-input">
            <input type="number" min="1" max="999" [(ngModel)]="spacing.top" (ngModelChange)="applySpacing('top')">
        </div>
        <div class="input-container left-input">
            <input type="number" min="1" max="999" [(ngModel)]="spacing.left" (ngModelChange)="applySpacing('left')">
        </div>
        <div class="input-container right-input">
            <input type="number" min="1" max="999" [(ngModel)]="spacing.right" (ngModelChange)="applySpacing('right')">
        </div>
        <div class="input-container bottom-input">
            <input type="number" min="1" max="999" [(ngModel)]="spacing.bottom" (ngModelChange)="applySpacing('bottom')">
        </div>
    </div>
</div>