@import "../../../../scss/variables";

code-editor {
  display: block;
  width: 800px;
  height: 540px;
  background-color: $site-bg-color-100;
  box-shadow: $box-shadow-4;

  .toolbar {
    display: flex;
    align-items: center;
    background-color: $site-bg-color-200;

    > .theme-select-container {
      max-width: 150px;
    }

    > .type-buttons {
      margin-left: auto;
    }

    .action-buttons {
      margin-left: 80px;
    }

    .active {
      color: $accent-color;
    }
  }

  .editor {
    height: 500px;
    border: 1px solid $border-color;
    font-size: 1.4rem;
  }
}