@import "../../../../../scss/variables";

accepted-payments-header {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid $site-border-color-200;
  padding: 25px 0;
  margin-bottom: 15px;

  > .text {
    font-size: 1.6rem;
  }

  > svg-icon {
    color: $site-accent-color;
    margin-right: 10px;
  }
}

.popover {
  .card-icons {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    > img {
      margin-right: 5px;
      width: 50px;
      height: auto;
    }
  }

  .section {
    margin-bottom: 15px;

    > .title {
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
  }
}