<form class="card-form" (ngSubmit)="submitForm($event)" ngNativeValidate>
    <div class="many-inputs">
        <div class="input-container">
            <label for="card-number" trans>Credit or Debit Card</label>
            <input type="text" id="card-number" name="card-number" [(ngModel)]="cardModel.number" placeholder="Card Number" trans-placeholder required>
            <div class="error" *ngIf="errors['card.number']">{{errors['card.number']}}</div>
        </div>

        <div class="input-container">
            <label for="expiration-date" trans>Expiration Date</label>
            <div id="expiration-date" class="expiration-date">
                <select name="expiration-month" class="expiration-month" [(ngModel)]="cardModel.expiration_month" required>
                    <option value="" disabled trans>Month</option>
                    <option [ngValue]="month" *ngFor="let month of months">{{month}}</option>
                </select>
                <select name="expiration-year" class="expiration-year" [(ngModel)]="cardModel.expiration_year" required>
                    <option value="" disabled trans>Year</option>
                    <option [ngValue]="year" *ngFor="let year of years">{{year}}</option>
                </select>
            </div>
            <div class="error" *ngIf="errors['card.expiration_month']">{{errors['card.expiration_month']}}</div>
            <div class="error" *ngIf="errors['card.expiration_year']">{{errors['card.expiration_year']}}</div>
        </div>

        <div class="input-container">
            <label for="security_code" trans>Security Code</label>
            <input type="text" id="security_code" name="security_code" [(ngModel)]="cardModel.security_code" required>
            <mat-progress-bar mode="indeterminate" *ngIf="loading" color="accent"></mat-progress-bar>
            <div class="error" *ngIf="errors['card.security_code']">{{errors['card.security_code']}}</div>
        </div>
    </div>

    <div class="error margin-bottom" *ngIf="errors.general">{{errors.general}}</div>

    <button type="submit" *ngIf="showSubmitButton" mat-raised-button color="accent" [disabled]="loading" trans>Submit</button>
</form>

<button color="mat-warn" class="close-button" mat-icon-button (click)="closeForm()"><svg-icon name="close"></svg-icon></button>