//media queries
$phone: 576px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1600px;

//fonts
$font-family: Roboto, 'Helvetica Neue', sans-serif;
$link-color: blue;

//inspector
$inspector-width: 380px;

$inspector-bg-color-100: #2f4555;
$inspector-bg-color-200: #263845;
$inspector-bg-color-300: #1c2a33;
$inspector-bg-color-400: #09181f;
$inspector-text-color-100: #b1d2e5;
$inspector-text-color-200: #5d8397;
$inspector-text-color-300: #8da8b8;
$inspector-text-color-400: #3b7694;

//hover boxes
$hover-box-bg-color: #179ede;
$hover-box-actions-color: #fff;

//inputs
$input-border-color: red !default;