@import "~vebto-client/scss/_variables";

//media queries
$phone: 576px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1600px;

$accent-color: #00b588;

//fonts
$font-family: Roboto, 'Helvetica Neue', sans-serif;
$link-color: blue;

//inspector
$inspector-width: 380px;

$site-bg-color-100: #fff;
$inspector-bg-color-200: #f6f6f6;
$inspector-bg-color-300: #f1f1f1;
$site-bg-color-400: #d8d7d7;
$inspector-text-color-100: rgba(0,0,0,.24);
$inspector-text-color-200: $text-color-secondary;
$inspector-text-color-300: $text-color;
$inspector-text-color-400: #3b7694;

//hover boxes
$hover-box-bg-color: #88ceff;
$hover-box-actions-color: #fff;

//inputs
$input-border-color: red !default;