@import "variables";

.inspector-bg-color-100 {
  background-color: $inspector-bg-color-100;
}

.inspector-bg-color-200 {
  background-color: $inspector-bg-color-200;
}

.inspector-bg-color-300 {
  background-color: $inspector-bg-color-300;
}

.inspector-bg-color-400 {
  background-color: $inspector-bg-color-400;
}

.inspector-text-color-100 {
  color: $inspector-text-color-100;
}

.link-color {
  color: $link-color;
}

.hover-box-bg-color {
  background-color: $hover-box-bg-color;
}

.hover-box-border-color {
  border-color: $hover-box-bg-color;
}